// background
$primary_bg:            #F7F7F7;
$primary_bg_inv:        #A6A6A6;

// color
$primary_color:         #6AA8CC;

// text
$text_primary:          #2B2B2B;
$text_primary_inv:      #F2F2F2;
$text_primary_disabled: #C4C4C4;
$text_pop:              #FF5B42;

.text-pop {
  color: $text_pop;
}